## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## File browsers
.directory

## puppet module build
pkg

## testing
Gemfile.lock
spec/fixtures

## vagrant
.vagrant/
